@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PhotographSignature';
  src: url('../src/fonts/Photograph\ Signature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply overflow-visible text-primary font-secondary bg-white;
  }
  .h1 {
    @apply text-[70px] lg:text-[140px] font-primary leading-[120%] tracking-[-0.05em] mb-2;
    font-family: 'PhotographSignature', sans-serif;
  }
  .h2 {
    @apply text-[36px] lg:text-[72px] font-primary mb-4 lg:mb-12;
  }
  .h3 {
    @apply text-[42px] lg:text-[84px] font-primary mb-4 lg:mb-12;
    font-family: 'PhotographSignature', sans-serif;
  }
  .section {
    @apply h-screen w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
}
